@tailwind base;
@tailwind components;
@tailwind utilities;

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 50;
    inset: 0 ;


}
